件名

1行目が件名、3行目以降が本文になります。
{Title:} または {Talk or Showcase:} と書くと該当プロポーザルの情報に置き換わります。
行頭に {Talk:} または {Showcase:} を付けるとその行は対象発表スタイルの場合のみ残ります。

e.g.
  {Talk:}発表時間は20分です。
  {Showcase:}机のサイズはN*Nです。

このファイルを accepted.txt にコピーして書き換えてください。
